extends layout

block content
    // single line comment
    //- invisible single line comment
    // block comment
    h1 hello world
    //- invisible block comment
    h2 how are you?
    <!--[if IE 8]>
    script(src='/ie.js')
    <![endif]-->

