extends layout

block content
    div(style='display:grid; color:black; text-decoration:none')
        a(href='/id-class') Id and Class
        a(href='/nesting') Nesting
        a(href='/text') Text
        a(href='/varibles') Varibles
        a(href='/escaping') Escaping
        a(href='/attributes') Attributes
        a(href='/comments') Comments
        a(href='/if-unless') If and Unless
        a(href='/for-each') For Each
        a(href='/case') Case
        a(href='/mixin') Mixin



